# Multiple Linear Regression
On Bike sharing data

In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

## Importing the Dataset

In [28]:
df = pd.read_csv('/workspaces/Supervised-Machine-Learning/Datasets/day.csv')
df.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,01-01-2018,1,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,2,02-01-2018,1,0,1,0,0,0,2,14.902598,17.68695,69.6087,16.652113,131,670,801
2,3,03-01-2018,1,0,1,0,1,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
3,4,04-01-2018,1,0,1,0,2,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
4,5,05-01-2018,1,0,1,0,3,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600

## Finding percent null values in the Dataset

In [29]:
round(100*(df.isnull().sum()/len(df)), 2).sort_values(ascending=False)

instant       0.0
dteday        0.0
season        0.0
yr            0.0
mnth          0.0
holiday       0.0
weekday       0.0
workingday    0.0
weathersit    0.0
temp          0.0
atemp         0.0
hum           0.0
windspeed     0.0
casual        0.0
registered    0.0
cnt           0.0
dtype: float64

In [30]:
round(100*(df.isnull().sum(axis=1)/len(df)), 2).sort_values(ascending=False)

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
725    0.0
726    0.0
727    0.0
728    0.0
729    0.0
Length: 730, dtype: float64

## Checking for Duplicates in the dataset

In [31]:
df_dup = df.copy()
df_dup = df.iloc[:,1:16]

In [32]:
for col in df_dup:
    print(df_dup[col].value_counts(ascending=False), '\n\n\n')

dteday
01-01-2018    1
02-01-2018    1
03-01-2018    1
04-01-2018    1
05-01-2018    1
             ..
27-12-2019    1
28-12-2019    1
29-12-2019    1
30-12-2019    1
31-12-2019    1
Name: count, Length: 730, dtype: int64



season
3    188
2    184
1    180
4    178
Name: count, dtype: int64



yr
0    365
1    365
Name: count, dtype: int64



mnth
1     62
3     62
7     62
5     62
12    62
10    62
8     62
4     60
9     60
6     60
11    60
2     56
Name: count, dtype: int64



holiday
0    709
1     21
Name: count, dtype: int64



weekday
6    105
0    105
1    105
2    104
4    104
5    104
3    103
Name: count, dtype: int64



workingday
1    499
0    231
Name: count, dtype: int64



weathersit
1    463
2    246
3     21
Name: count, dtype: int64



temp
10.899153    5
26.035000    5
19.850847    4
17.937500    4
23.130847    4
            ..
11.515670    1
14.439134    1
14.828347    1
15.955847    1
17.254153    1
Name: count, Length: 498, dtype: int64



atemp
32.73440    4
31.85040    3
18.78105    3
12.15290    2
35.16460    2
           ..
30.46145    1
30.10650    1
31.34500    1
27.68355    1
31.66065    1
Name: count, Length: 689, dtype: int64



hum
61.3333    4
53.8333    3
55.2083    3
57.0000    3
56.8333    3
          ..
86.1667    1
48.5000    1
76.4167    1
74.1667    1
66.2917    1
Name: count, Length: 594, dtype: int64



windspeed
11.250104    3
7.959064     3
10.042161    3
7.416900     3
11.166689    3
            ..
12.416775    1
13.833289    1
14.250632    1
23.044181    1
25.166339    1
Name: count, Length: 649, dtype: int64



casual
968     4
120     4
244     3
163     3
639     3
       ..
955     1
615     1
534     1
1313    1
484     1
Name: count, Length: 605, dtype: int64



registered
1707    3
4841    3
6248    3
4044    2
4111    2
       ..
3231    1
4018    1
3077    1
2921    1
1878    1
Name: count, Length: 678, dtype: int64



cnt
4195    2
5119    2
5312    2
4459    2
3351    2
       ..
5046    1
4713    1
4763    1
4785    1
4484    1
Name: count, Length: 695, dtype: int64

In [33]:
df_dup.drop_duplicates(subset=None, inplace=True)

In [34]:
for col in df_dup:
    print(df_dup[col].value_counts(ascending=False), '\n\n\n')

dteday
01-01-2018    1
02-01-2018    1
03-01-2018    1
04-01-2018    1
05-01-2018    1
             ..
27-12-2019    1
28-12-2019    1
29-12-2019    1
30-12-2019    1
31-12-2019    1
Name: count, Length: 730, dtype: int64



season
3    188
2    184
1    180
4    178
Name: count, dtype: int64



yr
0    365
1    365
Name: count, dtype: int64



mnth
1     62
3     62
7     62
5     62
12    62
10    62
8     62
4     60
9     60
6     60
11    60
2     56
Name: count, dtype: int64



holiday
0    709
1     21
Name: count, dtype: int64



weekday
6    105
0    105
1    105
2    104
4    104
5    104
3    103
Name: count, dtype: int64



workingday
1    499
0    231
Name: count, dtype: int64



weathersit
1    463
2    246
3     21
Name: count, dtype: int64



temp
10.899153    5
26.035000    5
19.850847    4
17.937500    4
23.130847    4
            ..
11.515670    1
14.439134    1
14.828347    1
15.955847    1
17.254153    1
Name: count, Length: 498, dtype: int64



atemp
32.73440    4
31.85040    3
18.78105    3
12.15290    2
35.16460    2
           ..
30.46145    1
30.10650    1
31.34500    1
27.68355    1
31.66065    1
Name: count, Length: 689, dtype: int64



hum
61.3333    4
53.8333    3
55.2083    3
57.0000    3
56.8333    3
          ..
86.1667    1
48.5000    1
76.4167    1
74.1667    1
66.2917    1
Name: count, Length: 594, dtype: int64



windspeed
11.250104    3
7.959064     3
10.042161    3
7.416900     3
11.166689    3
            ..
12.416775    1
13.833289    1
14.250632    1
23.044181    1
25.166339    1
Name: count, Length: 649, dtype: int64



casual
968     4
120     4
244     3
163     3
639     3
       ..
955     1
615     1
534     1
1313    1
484     1
Name: count, Length: 605, dtype: int64



registered
1707    3
4841    3
6248    3
4044    2
4111    2
       ..
3231    1
4018    1
3077    1
2921    1
1878    1
Name: count, Length: 678, dtype: int64



cnt
4195    2
5119    2
5312    2
4459    2
3351    2
       ..
5046    1
4713    1
4763    1
4785    1
4484    1
Name: count, Length: 695, dtype: int64

## Extracting Useful Columns

In [35]:
df_extracted = df[['season', 'yr', 'mnth', 'holiday', 'weekday', 'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed', 'cnt']]

In [ ]:
df_extracted['season'] = df_extracted['season'].astype('category')